# Claude and Serena
.claude/
.serena/

# Virtual Environment
.venv/

# Python
*.egg-info/

# IDEs
.vscode/

# OS
.DS_Store

# matlab codes from Kaito
mosek/
spotless/

# Computation results
*.pkl